body {
    margin: 0;
  }
  
  .parent {

    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:100vh 100vh ;
  }
  
  .child {
    flex: 1;
    background-size: cover;
    background-position: center;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1.5px solid purple;
    height: 100%; 
  }
  
  .image-button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
  }

  .image-button:hover{
    filter:brightness(1.2);
  }

  .first-button{
    background-image:url('../img/shisui.jpg');
  }

  .second-button{
    background-image:url('../img/madara.jpg');
  }

  .third-button{
    background-image:url('../img/itachi.jpg');
  }
  .fourth-button{
    background-image:url('../img/naruto.jpg');

  }
  .fifth-button{
    background-image:url('../img/minato.jpg');
  }
  .sixth-button{
    background-image:url('../img/jiraiya.jpg');
  }
  
  .child:hover .image-button {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .last_child {
    margin-left: auto;
  }
  